---
import Header from './Header.astro';
---

<main class="font-basic h-full flex flex-col text-white">
  <Header />
  <main
    class="min-h-screen flex flex-col gap-8 sm:row-start-2 max-w-3xl w-full px-4 sm:px-8 justify-self-center"
  >
    <slot />
  </main>
</main>
