---
import icon from '../assets/travel.svg';
---

<header
  class="flex flex-row items-center gap-4 sm:gap-8 py-4 px-4 sm:px-12 sm:py-6"
>
  <img src={icon.src} class="w-10 h-10 sm:w-14 sm:h-14" />
  <h1 class="text-3xl sm:text-5xl">På Farta</h1>
</header>
